@using FinControlCore6.Models.DatabaseModels;
@using FinControlCore6.Utils
@using FinControlCore6.ViewModels;

@model IndexViewModel

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Закупка подразделения</h1>
	@*
	<table id="table_id" class="display">
		<thead>
			<tr>
				<th>Id</th>
				<th>ProductCode</th>
				<th>ProductName</th>
				<th>AdvanceSum</th>
				<th>Warehouse</th>
				<th>InvoiceSum</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var note in ViewBag.modelsList)
			{
				<tr>
					<td>
						@note.Id
					</td>
					<td>
						@note.ProductCode
					</td>
					<td>
						@note.ProductName
					</td>
					<td>
						@note.AdvanceSum
					</td>
					<td>
						@note.Warehouse
					</td>
					<td>
						@note.InvoiceNum
					</td>
				</tr>
			}
		</tbody>
	</table>
	*@
	
	<vc:table-from-model model=@Model.DataPropertiesNames tag-id="main_table"></vc:table-from-model>
</div>
@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
	
	<script type="text/javascript" charset="utf-8" src="~/js/DataTableCreation.js"></script>

}

