@model TOuPurchase

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Закупка подразделения</h1>
	@*<table id="table_id" class="display">
	<thead>
	<tr>
	<th>Column 1</th>
	<th>Column 2</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td>Row 1 Data 1</td>
	<td>Row 1 Data 2</td>
	</tr>
	<tr>
	<td>Row 2 Data 1</td>
	<td>Row 2 Data 2</td>
	</tr>
	</tbody>
	</table>*@
	@*@Html.DisplayForModel()*@

	<table id="table_id" class="display">
		<thead>
			<tr>
				<th>Id</th>
				<th>ProductCode</th>
				<th>ProductName</th>
				<th>AdvanceSum</th>
				<th>Warehouse</th>
				<th>InvoiceSum</th>
			</tr>
		</thead>
		@*@foreach (var name in collection)
		{
		}*@
		<tbody>
			@foreach (var note in ViewBag.modelsList)
			{
				<tr>
					<td>
						@note.Id
					</td>
					<td>
						@note.ProductCode
					</td>
					<td>
						@note.ProductName
					</td>
					<td>
						@note.AdvanceSum
					</td>
					<td>
						@note.Warehouse
					</td>
					<td>
						@note.InvoiceNum
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>
@section Scripts{
	<script>
		$(document).ready(function () {
			$('#table_id').DataTable(
				{
					serverSide: true,
					ajax: "/Home/TableDataSource"
				});
		});
	</script>

}

